@{
    ViewBag.Title = "Conversion Station";
}

@model Conversion.GallonsLiters

<div>
	<p class="front">
		ConversionStation
		<hr />
	</p>
	<p class="frontsmall">
		Welcome to ConversionStation, the place where you can make easy conversions.  Click on the arrow at the bottom of your screen to see the menu of options.<br /></br> Have a great day!

</div>



@*<div class="jumbotron">
    <h1>Conversion Station</h1>
    <p class="lead">Convert units of measurments.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@